Strings Functions

In [3]:
a=10
b=15
print("{}is greater than {}".format(a,b))

10is greater than 15

In [4]:
print("{1} is samller than {0}".format(a,b))

15 is samller than 10

In [6]:
print(a," a is smaller than than b",b)

10  a is smaller than than b 15

In [10]:
#Float formating
a=10.99
b=206.9933887

print("Two float value : {} & {}".format(a,b))

print("Two float value :{:2f} & {:3f}".format(a,b))#O/P gives 2 & 3 decimal values respectively
print("Two float value :{:2f} & {:2f}".format(a,b))
print("Two float value :{:2f} & {:10.2f}".format(a,b))
print("Two float value :{:2f} & {:15.2f}".format(a,b))    
print("Two float value :{1:15.2f} & {0:.2f}".format(a,b))

Two float value : 10.99 & 206.9933887
Two float value :10.990000 & 206.993389
Two float value :10.990000 & 206.993389
Two float value :10.990000 &     206.99
Two float value :10.990000 &          206.99
Two float value :         206.99 & 10.99

In [11]:
print(f"Two float value :{a:15.2f} & {b:.2f}")

Two float value :          10.99 & 206.99

String Formatting

In [14]:
name="Rajendr Singh"
number=19192345
print("Hello,{1},{0:.5s}".format(name,number))
print("Hello,{1:.2f},{0}".format(name,number))

print(f"Hello,{number:.2f},{name}")

print(float(10))
print(int(10.5))
print(str(10))

Hello,19192345,Rajen
Hello,19192345.00,Rajendr Singh
Hello,19192345.00,Rajendr Singh
10.0
10
10

In [13]:
data=("John","Doe",53.44,100.23)
print(type(data))
format_string= "Hello %s %s.Your current balance is $%d $%d"
new_string= format_string%data
print(new_string)

<class 'tuple'>
Hello John Doe.Your current balance is $53 $100

In [19]:
print("{:$^30}".format(""))

print("{:>30}".format("Hello"))

print("{:<30}".format("Hello"))

print("{:^30}".format("Hello"))

print("{:0^30}".format("Hello"))

print("{:030}".format("Hello"))

$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                         Hello
Hello
            Hello
000000000000Hello0000000000000
Hello0000000000000000000000000

In [20]:
print("{:+10.2f} {:+10.2f}".format(12.23 , -12.24))

print("{:=10.2f} {:=10.2f}".format(12.23 , -12.24))

print("{:_>10.2f} {:_>10.2f}".format(12.23 , -12.24))
print(":>10.2")

    +12.23     -12.24
     12.23 -    12.24
_____12.23 ____-12.24

In [28]:
Name=input("Enter Name")
Item=input("Enter Item")

Price=float(input("Enter Price"))

Quantity=int(input("Enter Quantity"))

Amount=Price*Quantity

TotalAmount=Amount*1.1

print("{:$^40}".format(""))

print("{:>20}".format("Bill"))

print("{:>10} {:>20} {:>20} {:>20} {:>20} {:>20}".format("Name","Item","Price","Quantity","Amount","TotalAmount"))
print("{:>10} {:>20} {:>20} {:>20} {:>20} {:>20}".format(Name,Item,Price,Quantity,Amount,TotalAmount))

$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                Bill
      Name                 Item                Price             Quantity               Amount          TotalAmount
       Jpo                juive                 60.5                    1                 60.5    66.55000000000001

In [18]:
from datetime import datetime
from datetime import time
from datetime import date
print("{:^95}".format("WELCOME TO FIESTA"))
while True:
    Name = input("Enter Name: ")
    if not Name:
        break  # Exit the loop if the user enters an empty name

    Item = input("Enter Item: ")
    Price = float(input("Enter Price: "))
    Quantity = int(input("Enter Quantity: "))
    Amount = Price * Quantity
    TotalAmount = Amount * 1.1 
    date = datetime.now().strftime("%Y-%m-%d %H:%M:%S")  # Get the current date and time

    print("{:-^170}".format(""))
    print("{:>65}".format("Bill"))
    print("Date:", date)
    print("{:>10} {:>20} {:>20} {:>20} {:>20} {:>20}".format("Name","Item","Price","Quantity","Amount","TotalAmount"))
    print("{:>10} {:>20} {:>20} {:>20} {:>20.2f} {:>20.2f}".format(Name,Item,Price,Quantity,Amount,TotalAmount)) 
    print()  

print("{:^95}".format("Billing Completed."))
print("{:^95}".format("Thanks for Visting"))

                                       WELCOME TO FIESTA
                                      Billing Completed.
                                      Thanks for Visting